<script>
    $.tablesorter.addParser({ 
        id: "customDate",
        is: function(s) {
            return false;
        },
        format: function(s) {
            // e.g. Feb 11, 2024, 15:35 UTC
            return $.tablesorter.formatFloat(new Date(s).getTime());                                         
        },
        type: "numeric"}
    );

    $(function() {
        $("#maintable").tablesorter({ 
            theme: "contactlist-dark",
            headers: 
            {% for header in htmltable %}
            {% if header.type == "info" %}
            {{headers[header.col]}}: { sorter: true },{% elif header.type == "infotime" %}
            {{headers[header.col]}}: { sorter: "customDate" },{% elif header.type == "buttons" %}
            {{headers[header.col]}}: { sorter: false },
            {% endif %}
            {% endfor %}
        });
    });
</script>
<table id="maintable" class="tablesorter">
    <thead>
        <tr>{% for header in htmltable %}
            {% set col = headers[header.col] %}
            <th style="width: {{ header.width }}%;">{% if col is string %}{{ headers[header.col] }}{% endif %}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
        {% for h in htmltable %}
            {% if h.type == "info" or h.type == "infotime" %}
            <td>{{ r[h.col] }}</td>
            {% elif h.type == "buttons" %}
            <td>
            {% for button in h.buttons %}
            <a href="{{ button.link }}/{{ r.inid }}"><button type="button" class="btn {{ button.bsbtnstyle }}"><span class="{{ button.icon }}" aria-hidden="true"></span></button>
            {% endfor %}
            </td>
            {% endif %}
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>